<ion-header>
  <ion-toolbar>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
	<form [formGroup]="userinfo">
	    <ion-item>
		  <ion-label position="floating">Nom</ion-label>
		  <ion-input type="text" formControlName="nom"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Prenom</ion-label>
		  <ion-input type="text" formControlName="prenom"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Numero de téléphone</ion-label>
		  <ion-input type="number" formControlName="numero"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Adresse</ion-label>
		  <ion-input type="text" formControlName="adress"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Date de naissance</ion-label>
			<ion-datetime displayFormat="DD MMMM YYYY" formControlName="date_naissance"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Mot de passe</ion-label>
		  <ion-input type="password" formControlName="mdp"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Confirmation mot de pass</ion-label>
		  <ion-input type="password" formControlName="mdpconfirm"></ion-input>
		</ion-item>
		<ion-button color="success" expand="block" (click)="enregistre()" [disabled]="!userinfo.valid">
			<ion-icon name="done-all"></ion-icon>
			Continuer
		</ion-button>
		<ion-button color="secondary" expand="block" (click)="login()">Se connecter</ion-button>
	</form>
</ion-list>
</ion-content>