<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="Utilisateur">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Utilisateur</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Voyage">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Voyage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Deconnection">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Deconnection</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>