<ion-header>
  <ion-toolbar>
    <ion-title>Détail</ion-title>
    <ion-buttons slot="end">
	    <ion-button (click)="dismissModal()">Fermer</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
	<ion-item-group>
		<ion-item-divider>
			<ion-label>Cooperative</ion-label>
		</ion-item-divider>
		<ion-item>
			<!-- <ion-label>Date depart: {{formatdate(detailinfo.date_dep)}}</ion-label> -->
			<ion-label>Nom: {{detailinfo.nom}}</ion-label>
		</ion-item>
	</ion-item-group>
	<ion-item-group>
		<ion-item-divider>
			<ion-label>Voyage</ion-label>
		</ion-item-divider>
		<ion-item>
			<!-- <ion-label>Date depart: {{formatdate(detailinfo.date_dep)}}</ion-label> -->
			<ion-label>Date depart: {{detailinfo.date_dep}}</ion-label>
		</ion-item>
		<ion-item>
			<!-- <ion-label>Date d' arrivé: {{formatdate(detailinfo.date_arr)}}</ion-label> -->
			<ion-label>Date d' arrivé: {{detailinfo.date_arr}}</ion-label>
		</ion-item>
	</ion-item-group>
	<ion-item-group>
		<ion-item-divider>
			<ion-label>Tarif</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label>Lieu de depart: {{detailinfo.lieu_depart}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Destination: {{detailinfo.lieu_arrive}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Montant: {{detailinfo.montant}} Ar</ion-label>
		</ion-item>
	</ion-item-group>
	<ion-item-group>
		<ion-item-divider>
			<ion-label>Voiture</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label>Marque: {{detailinfo.marque}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Numero: {{detailinfo.numero}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Nombre de place: {{detailinfo.nombre_place}}</ion-label>
		</ion-item>
	</ion-item-group>
</ion-list>
<ion-grid>
	<ion-row>
		<ion-col *ngFor="let data of placedata" size="3">
			<div *ngIf="data.disponniblite" style="background-color: #51a831" (click)="reservation(data)">{{data.place}}</div>
			<div *ngIf="!data.disponniblite" style="background-color: #ba3e25">{{data.place}}</div>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>