<ion-header mode="ios">
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tarif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar  placeholder="Recherche" animated (ionInput)="SearchinputChanged($event.target.value)"></ion-searchbar>
	<ion-list>
		<ion-item-sliding *ngFor="let data of donnetarif">
			<ion-item>
				<ion-label>
					<h2>{{data.lieu_depart}} => {{data.lieu_arrive}}</h2>
					<h3>{{data.montant}}</h3>
				</ion-label>
        	</ion-item>
			<ion-item-options side="end" class='options-left'>
			    <ion-item-option color="warning" (click)="edittarif(data)">
			      <ion-icon name="create"></ion-icon>
			    </ion-item-option>
			    <ion-item-option color="danger"  (click)="supprimetarif(data.id)">
					<ion-icon name="trash"></ion-icon>
			    </ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="nouveau()">
	    <ion-fab-button color="success">
	      <ion-icon name="add"></ion-icon>
	    </ion-fab-button>
	</ion-fab>
</ion-content>