<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="Cooperative">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Cooperative</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Historique">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Parametre">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Parametre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>